{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/flora.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  </head>

  <body>
    <div id="header">
      <div>
      <a href="/"><img src="{% static 'imagens/logo-flora-do-campus.png' %}"></a>
        <ul>
          <li><a href="{% url 'flora.views.project' %}">O projeto</a></li>
          <li><a href="{% url 'flora.views.hrcb' %}">Herbario HRCB</a></li>
          <li><a href="{% url 'flora.views.campus' %}">O campus</a></li>

<li class="dropdown">

  <a>Lista de espécies</a>
  <div class="dropdown-content">
    <a href="{% url 'flora.views.list_species_by_name' %}">Nome científico</a>
    <a href="{% url 'flora.views.list_species_by_family' %}">Famílias</a>
    <a href="{% url 'flora.views.list_species_by_vernacular' %}">Nome popular</a>
  </div>
</li>
        </ul>




      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer" style="background: url({% static 'imagens/fundo-rodape.jpg' %}) no-repeat bottom center fixed; ">
      <div>
        <ul>
          <li><a href="{% url 'flora.views.project' %}">O projeto</a></li>
          <li><a href="{% url 'flora.views.hrcb' %}">Herbario HRCB</a></li>
          <li><a href="{% url 'flora.views.campus' %}">O campus</a></li>
          <li><a href="{% url 'flora.views.species_categories' %}">As espécies</a></li>
        </ul>
      </div>
      <div><p>Projeto Flora do Campus &copy; Arantes, F.M. 2018</p></div>
    </div>

  </body>
</html>
