{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

<div id="title">
	<div>
		<h1>O Campus de UNESP Rio Claro</h1>
	</div>
</div>

<div id="information">
<div>

	<p>A área pertencente ao Campus de Rio Claro da Universidade Estadual Paulista – UNESP está localizada no perímetro urbano do município de Rio Claro, na região centro-oeste do estado de São Paulo, a cerca de 180km da capital. Compreende uma área de aproximadamente 54 alqueires, a 626.5m de altitude, próxima das coordenadas 22º 23’S e 47º 32’W (ENTORNO, 2004). </p>
	<p>Esta área foi outrora utilizada pela extinta Companhia Paulista de Estrada de Ferro para plantio de eucalipto, a fim de prover a ferrovia local de madeira para as máquinas a vapor (POTASCHEFF, 2007). Logo, apenas um pequeno fragmento de sua vegetação remanescente de cerrado ainda está presente, pois além do plantio de eucalipto, grande parte da vegetação foi removida para a construção dos prédios e instalações dos Institutos de Biociências e Geociências (BRAGA, 2007). O restante da vegetação presente no campus foi oriundo de projetos de paisagismo (coordenados voluntariamente pelos professores) e também plantados por iniciativa particular dos próprios professores e funcionários (TAKAKI, 2013).  Não houve nenhum projeto especial, desenhado por um profissional de paisagismo. Isso resultou no que temos hoje, áreas dominadas inteiramente por vegetação exótica e poucas áreas florestadas em todo o campus.</p>
	<p>O conhecimento das espécies presentes no campus fornecerá subsídios para o manejo de espécies -  contenção de espécies em maior número e plantio de espécies nativas e em número reduzido - e também para consulta da comunidade acadêmica e da população da cidade de Rio Claro .</p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>

</div>
</div>

{% endblock %}