{% extends 'flora/base.html' %}
{% load static %}

{% block content %}



<div id="information">
<div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <a href=""><img src="{% static 'imagens/slideshow01.jpg' %}" style="width:100%"></a>
        <div class="text">Magnolia champaca</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'imagens/slideshow02.jpg' %}" style="width:100%">
        <div class="text">Lecythis pisonis</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'imagens/slideshow03.jpg' %}" style="width:100%">
        <div class="text">Caesalpinia ferrea</div>
      </div>

</div>
</div>

<div id="pagina_principal">
  <div>
      <p>A Flora do Campus é um projeto que busca descobrir quem são e onde se encontram as espécies arbóreas do campus</p>
      <p>Você sabe o que é um herbário? Existe um na Unesp de Rio Claro, o HRCB. 71.000</p>
      <p>A Unesp de Rio Claro, sua história, seus cursos, saiba mais!</p>
  </div>
</div>







<script>
var slideIndex = 0;
showSlides();


function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 5000); // Change image every 2 seconds
} 
</script>







{% endblock content %}