{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

<div id="title">
	<div>
		<h1>HRCB, o Herbário Rioclarense</h1>
	</div>
</div>
<div id="information">
<div>	
<p>O Herbário Rioclarense existe há 39 anos e abriga uma coleção de ca. de 70.000 espécimes de plantas, sendo uma das mais importantes coleções de plantas do Estado de São Paulo. O acervo geral conta com coleções de Fanerógamas e Pteridófitas, em sua maioria, e coleções especiais, como a Flora da Planície Litorânea de Picinguaba(Ubatuba) e a coleção histórica do Padre José Pivetta. Além de ser o repositório de coletas das regiões de cerrado e floresta no entorno de Rio Claro, especialmente Itirapina e Corumbataí (onde se localizam importantes estações ecológicas para a pesquisa no campus Rio Claro).</p>


    <div id="big-image" style="background: url({% static 'imagens/hrcb01.jpg' %}) no-repeat center center fixed; ">

    </div>

<p>O Herbário Rioclarense existe há 39 anos e abriga uma coleção de ca. de 67.000 espécimes de plantas, sendo uma das mais importantes coleções de plantas do Estado de São Paulo. O acervo geral conta com coleções de Fanerógamas e Pteridófitas, em sua maioria, e coleções especiais, como a Flora da Planície Litorânea de Picinguaba(Ubatuba) e a coleção histórica do Padre José Pivetta. Além de ser o repositório de coletas das regiões de cerrado e floresta no entorno de Rio Claro, especialmente Itirapina e Corumbataí (onde se localizam importantes estações ecológicas para a pesquisa no campus Rio Claro).</p>


<p>O herbário também recebe doações de outros herbários, especialmente as duplicatas. Através desse intercâmbio de material, os herbários enriquecem suas coleções. No herbário há exsicatas famílias como Celastraceae, Bignoniaceae, Nyctaginaceae, Styracaceae, Vitaceae e Lauraceae.</p>

<p>É parte do Instituto de Biociências da Universidade Júlio de Mesquita Filho e foi fundado em 23 de junho de 1977 por Prof. Dr. Giorgio de Marinis, seu primeiro curador. HRCB é a sigla do herbário desde agosto de 1978, quando obteve seu registro internacional, código de reconhecimento possuído por todos os herbários ao redor do mundo e que é conferido pelo órgão International Association for Plant Taxonomy (IAPT).</p>

<p>Hoje, a curadoria do herbário está sob o comando do Prof. Dr. Julio Antonio Lombardi.
</p>




</div>


</div>
{% endblock %}