{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

    <div id="title">
      <div>
          <h1><em>{{ post.genero }} {{ post.especie }}</em> {{ post.autor }}</h1>
          <h2>{{ post.familia }}</h2>
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">editar</a>

      </div>    
    </div>

    <div id="big-image" style="background: url({% static post.endereco_imagem %}) no-repeat center center fixed; ">

    </div>



    <div id="information">
      <div>
          <ul>
            <li>Habito: {{ post.habito }}</li>
            <li>Nome Popular: {{ post.vernacular }}</li>
            <li>Floracao: {{ post.floracao }}</li>
            <li>Frutificação: {{ post.frutificacao }}</li>
            <li>Origem: {{ post.origem }} </li>
          </ul>

        <p>
          {{ post.texto|linebreaksbr }}
        </p>

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}


      </div>


    </div>





{% endblock %}