{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

    <div id="title">
      <div>
          <h1><em>{{ post.genero }} {{ post.especie }}</em> {{ post.autor }}</h1>
          <h2>{{ post.familia }}</h2>
      </div>    
    </div>

    <div id="big-image" style="background: url({% static post.endereco_imagem %}) no-repeat center center fixed; ">

    </div>



    <div id="information">
      <div>
          <ul>
            <li>Habito: {{ post.habito }}</li>
            <li>Nome Popular: {{ post.vernacular }}</li>
            <li>Floracao: {{ post.floracao }}</li>
            <li>Frutificação: {{ post.frutificacao }}</li>
            <li>Origem: {{ post.origem }} </li>
          </ul>

        <p>
          {{ post.texto|linebreaksbr }}
        </p>

        {% if post.published_date %}
        <p>
          Data de publicação: {{ post.published_date }}
        </p>

        {% endif %}


      </div>


    </div>


<div id="photos">
<div>
<h1>Fotos</h1>

<ul>
{% for img_dict in post.todas_imagens %}
<li>
<a class="example-image-link" href="{% static img_dict.img %}" data-lightbox="example-set" data-title="">

  
<img class="example-image" src="{% static img_dict.img %}" width="200px" height="134px">
</a>
</li>

{% endfor %}
</ul>
<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>


</div>
</div>

















    <div id="map">
      <div>
        <h1>Ocorrências de <em>{{ post.genero }} {{ post.especie }}</em> no Campus</h1>

<iframe src="https://www.google.com/maps/d/embed?mid={{ post.mapa }}" width="890" height="480"></iframe>


      </div>
    </div>






  <div id="reference">
      <div>
        <h1>Referências</h1>
          <p>{{ post.referencias|linebreaksbr }}</p>
      </div>
    </div>

{% endblock %}