{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

<div id="title">
	<div>
		<h1>Projeto Flora do Campus</h1>
	</div>
</div>

<div id="information">
<div>
	<p></p>
	<p>O projeto Flora do Campus busca mapear todas as espécies vegetais de porte arbóreo, arbustivo ou de crescimento lenhoso do campus de Rio Claro da Universidade Júlio de Mesquita Filho - UNESP. Além do mapeamento, as informações coletadas serão depositadas num banco de dados e disponibilizadas no endereço http://www.floradocampus.com.br.</p>

	<p>Importância
	Descobrir a localização e o número de indivíduos de cada espécie vegetal da lista de espécies de Potascheff, além de incluir outras espécies que ficaram fora desta lista, como espécies da família Arecaceae, Araceae (Palmeiras) e gimnospermas(pinheiros). Com essa informação será possível estimar o tamanho atual da população adulta das espécies que ocorrem no campus.</p>
	<p>Através do banco de dados com a localização de espécies, alunos e professores que estudam o campus de Rio Claro terão à disposição informações que possam ajudá-los em suas pesquisas. Como por exemplo, uma espécie de animal que tenha preferência por determinada planta poderá ser facilmente encontrada através do mapa de localização da espécies disponível online.</p>
	<p>Será importante também para as aulas da disciplina de Sistemática (Fanerógamas e Criptógamas) um mapeamento de espécies desse porte. Isso porque será possível saber exatamente quais espécies estão em período de floração para coleta de material para as aulas, e mais importante, onde elas estão localizadas precisamente.</p>
	<p>Será importante também para as aulas da disciplina de Sistemática (Fanerógamas e Criptógamas) um mapeamento de espécies desse porte. Isso porque será possível saber exatamente quais espécies estão em período de floração para coleta de material para as aulas, e mais importante, onde elas estão localizadas precisamente.</p>
	<p>E finalmente, através do site do projeto Flora do Campus, todos os cidadãos de Rio Claro poderão ficar mais próximos do campus. O que revela um caráter de extensão ao projeto. Especialmente na época de frutificação das principais espécies frutíferas do país, quando o campus recebe a população local em busca de mangas, acerolas, pitangas, amoras, entre diversas outras. Será possível identificar em meio a toda essa variedade de exóticas, as espécies frutíferas nativas que são pouco comuns, como espécies de cerrado como a grumixama e a uvaia {colocar referencia}, que estão presentes no campus, mas muitas vezes não são conhecidas pelas pessoas.</p>
	<p>O mapeamento da Flora do Campus, pretende aproximar os cidadãos de Rio Claro do campus da universidade. Além da comunidade científica, o campus já é frequentado pelos moradores da cidade para a prática de caminhada e corrida e em passeios dos moradores que levam suas crianças em férias. E em época de reprodução das principais espécies frutíferas do país, o campus recebe a população local em busca de frutos como mangas, acerolas, pitangas, amoras, entre diversas outras. Será possível identificar em meio a toda essa variedade de exóticas, as espécies frutíferas nativas que são pouco comuns e estão presentes no campus e que muitas vezes não são conhecidas pelas pessoas. Desta forma, manejar as espécies frutíferas, dando especial atenção às espécies nativas do país e da nossa região e que são pouco representadas no campus. {Apenas XX% do total de espécies frutíferas presentes no campus são nativas e o número absoluto de indivíduos representa apenas XX do número total de árvores.}</p>

	<p>Os textos informativos indicam principalmente a descrição taxonômica de cada espécie, com informações sobre a filogenia (floração e frutificação) no estado de São Paulo e síndromes de polinização e dispersão. Ocasionalmente informações sobre utilização econômica foram incluídas na descrição.</p>

</div>
</div>

{% endblock %}