{% extends 'flora/base.html' %}
{% load static %}

{% block content %}

<div id="title">
	<div>
		<h1>Projeto Flora do Campus</h1>
	</div>
</div>

<div id="big-image" style="background: url({% static 'imagens/projeto-1.jpg' %}) no-repeat center center fixed; "></div>

<div id="paginas_estaticas">
<div>
	<ul>
    	<li><img src="{% static 'imagens/ico-projeto-01.jpg' %}" width="200px" height="200px"></li>

	</ul>

	<p>O projeto Flora do Campus é o trabalho de conclusão do curso de ciências biológicas de Fabiula M. Arantes. O objetivo foi identificar e mapear todas as espécies vegetais de porte arbóreo das áreas antropizadas do campus de Rio Claro da Universidade Júlio de Mesquita Filho - UNESP. </p>

	<p>O primeiro trabalho de identificação de espécies feito no campus foi o de Entorno, em 2004, que identificou e mapeou as espécies de palmeiras e gimnospermas. O resultado do trabalho foi um site, contendo informações sobre as espécies e sua localização. Porém, apenas XX espécies foram identificadas e mapeadas.</p>

	<p>
	Em 2009, foi feita a primeira lista de espécies do campus, por Carolina Pottascheff, aluna do curso de ecologia, que encontrou 196 espécies de angiospermas arbóreas. Porém, nesse trabalho, nenhuma das espécies coletadas foi georreferenciada, ou seja, não foi incluído no trabalho a localização das espécies.
	</p>

	<p>
	No projeto Flora do Campus buscou descobrir a localização e o número de indivíduos de cada espécie vegetal da lista de espécies de Potascheff, além de incluir outras espécies que ficaram fora desta lista, como as espécies do trabalho de Entorno(2004), as palmeiras da família Arecaceae e as gimnospermas(pinheiros). Com a soma das duas listas, foi possível estimar o tamanho atual da população adulta das espécies que ocorrem no campus.
	</p>
	
	<p>
	Descobrir onde estão as espécies e o tamanho das populações no campus é importante por diversos motivos. Através do banco de dados com a localização de espécies, alunos e professores que estudam o campus de Rio Claro terão à disposição informações que possam ajudá-los em suas pesquisas. Como por exemplo, uma espécie de animal que tenha preferência por determinada planta poderá ser facilmente encontrada através do mapa de localização da espécies disponível online.
	</p>	

	<p>
	Será importante também para as aulas da disciplina de Sistemática (Fanerógamas e Criptógamas) um mapeamento de espécies desse porte. Isso porque será possível saber exatamente quais espécies estão em período de floração para coleta de material para as aulas, e mais importante, onde elas estão localizadas precisamente.
	</p>

	<p>
	E finalmente, através do site do projeto Flora do Campus, todos os cidadãos de Rio Claro poderão ficar mais próximos do campus. Especialmente na época de frutificação das principais espécies frutíferas do país, quando o campus recebe a população local em busca de mangas, acerolas, pitangas, amoras, entre diversas outras. Será possível identificar em meio a toda essa variedade de exóticas, as espécies frutíferas nativas que são pouco comuns, como espécies de cerrado como a grumixama e a uvaia {colocar referencia}, que estão presentes no campus, mas muitas vezes não são conhecidas pelas população.
	</p>

	<p>
	No site, cada espécie possui uma página própria, com a sua descrição taxônomica, fotos e um mapa contendo os pontos de ocorrência da espécie no campus. O texto informativo indica principalmente a descrição taxonômica de cada espécie, com informações sobre a filogenia (floração e frutificação) no estado de São Paulo e síndromes de polinização e dispersão. Para algumas espécies, também foram incluídas informações sobre utilização econômica e distribuição geográfica em sua descrição.
	</p>


	<p>
	No projeto Flora do Campus, foram incluídas apenas as espécies arbóreas das áreas antropizadas, ou seja, muita coisa ficou de fora. Como por exemplo, a área de remanescente de cerrado entre a Unesp e a Feena, as espécies herbáceas e arbustivas, além das briófitas e pteridófitas. No entanto, o site foi desenvolvido para possibilitar a inclusão de mais dados de espécies do campus. Esse é mais um dos legados do projeto: estudos que forem conduzidos por alunos no futuro poderão ser incluídos no banco de dados de espécies, enriquecendo ainda mais o projeto.
	</p>

</div>
</div>

{% endblock %}