{% extends 'flora/base.html' %}

{% block content %}
<div id="title">
	<div>
		<h1>Listas de espécies</h1>
	</div>
</div>

<div id="information">
  <div><a href="{% url 'flora.views.list_species_by_name' %}">Nome Científico</a></div>
  <div><a href="{% url 'flora.views.list_species_by_family' %}">Família</a></div>
  <div><a href="{% url 'flora.views.list_species_by_vernacular' %}">Nome Popular</a></div>
  <div><a href="{% url 'flora.views.list_species_by_specie' %}">Espécie</a></div>
</div>
{% endblock content %}
